:root {
  --vp-home-hero-name-color: transparent;

  --vp-custom-block-tip-border: #2b453a;
  --vp-custom-block-tip-text: #42d392;
  --vp-custom-block-tip-bg: #252b29;

  --vp-font-family-base:
    'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #EA4335 30%,
    #4385F4
  );

  /* Hero halo (ring, not filled) */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #EA4335 20%,
    #4385F4 60%,
    #34A853 30%
  );
  --vp-home-hero-image-filter: blur(44px);
}



@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

/* Search button background */
.VPNavBarSearch .DocSearch-Button {
  background-color: #161618;
  color: #98969a;
  border-radius: 10px;
}

/* Hover state */
.VPNavBarSearch .DocSearch-Button:hover {
  background-color: #1f2023;
}