:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #EA4335 30%,
    #4385F4
  );

  /* Hero halo (ring, not filled) */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #EA4335 20%,
    #4385F4 60%,
    #34A853 30%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}